body {
  /* background: green; */
  padding: 0;
}

main {
  padding: 8px !important;
}

.input {
  margin: 0px;
}

hr {
  opacity: 0.3;
  margin-left: -8px;
  margin-right: -8px;
}

.section-title { margin-top: -4px; }

.container {
  padding: 8px;
}
.onboarding-tip {
  padding-left: 8px !important;
  padding-right: 8px;
}

.row {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.col {
  width: 100%;
  padding: 0 8px;
}
.col:first-child { padding-left: 0; }
.col:last-child { padding-right: 0; }

.hidden { display: none !important; }
.buttons {
  display: flex;
  flex-direction: row;
}
.buttons .button:not(:last-child) {
  margin-right: 8px;
}

#custom-column-rows .list {
  margin-top: 8px;
  margin-bottom: 8px;
}
#custom-column-rows .list > .row {
  margin-bottom: 8px;
  background: rgba(24,168,251,0.1);
  padding: 8px;
  border-radius: 4px;
}
#custom-column-rows .list .section-title {
  /* padding-left: 0px;
  padding-right: 0px; */
}
#custom-column-rows .list input {
  background-color: inherit;
}
#custom-column-rows .buttons {
  padding: 8px;
}
